<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
    <link type="text/css" rel="stylesheet" href="/static/index.css" />
    <title> Hired | Hire from IITH </title>
</head>
<body>
<div id="container" class="CenterRowFlex container class2">
  <div class="CenterColumnFlex wrapper">
    <div class="Title">Hired</div>
    <h2>Hire from IIT Hyderabad</h2>
    <div class="CenterRowFlex buttonHolder">
        <button class="button"> <a href="/slogin">Student's Corner</a></button>
        <button class="button"> <a href="/rlogin">Recruiter's Corner</a></button>
    </div>
  </div>
</div>
</body>
</html>